<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>



{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
 {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}



<form action="" class="row g-3 needs-validation" method="POST" action="/adduser">

<div class="col-6">

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="first Name" name="first_name">
  <label for="floatingInput">First Name</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="last_name">
  <label for="floatingInput">Last Name</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="Email@yahoo.com" name="email">
  <label for="floatingInput">Email</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="phone">
  <label for="floatingInput">Phone</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <textarea  class="form-control" id="floatingInput" placeholder="comment" name="comments" style="height:250px; resize:none"></textarea>
  <label for="floatingInput">comments</label>
</div>
</div>
<div class="col-12 d-grid">
<button type="submit" class="btn btn-primary">Submit</button>

</div>
</div>


</form>